{% extends "App/base.html" %}

{% load static %}

{% block contenido %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post list</title>
</head>
<body>
    
</body>

    {% for publicacion in post%}
       <a href="{% url 'post_detail' publicacion.id %}" role="button">Contactarse</a> <h2 style="color:aliceblue;"> {{publicacion.title }}</h2></a>    

    {% endfor %}

</html>

{% endblock %}